@import '../../animations.scss';

.categorie {
  padding: 2rem;
}
.title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(214, 68, 10), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


}
.categorie-body {
  animation: bounce-in-top 1.1s both;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center 35%;
  height: 80vh;
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: column-reverse wrap;
  align-content: center;
  & p {
    margin: 0 auto;
    display: none;
  }

  &:hover {
    background-position: center 15%;

    & p {
      display: inline-flex;
    }
  }
}
