.cards {
  min-height: 100vh;
  padding: 45px 0px;
  display: flex;
  background-color: #ffc107;
  background-size: contain;
}

.cards-row {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
}

.card-body {
  height: 180px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin: 0 1rem 0.5rem;
}

.link-externo {
  text-decoration: none;
  color: black;
  display: flex;
  width: fit-content;
  margin: 15px 15px;
  &:hover {
    text-decoration: none;
  }
}

// .parallax {
//   /* The image used */
//   background-image: url("img_parallax.jpg");

//   /* Set a specific height */
//   height: 500px;

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

// NO HTML:

// <!-- Container element -->
// <div class="parallax"></div>
