.header {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 2rem 2rem;
}

.header-image {
  width: auto;
  height: 250px;
  padding-bottom: 2rem;
}
.pointer {
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.nav-pill {
  margin: 0 10px;
  background-color: rgba($color: #000000, $alpha: 0.2);
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}
